# The political and economic consequences of COVID-19

In [10]:
import numpy as np
import pandas as pd
import json
import OpenBlender
import config

In [11]:
# this code is taken from https://towardsdatascience.com/gather-all-the-coronavirus-data-with-python-19aa22167dea
# getting corona virus dataset from openblender
action = 'API_getObservationsFromDataset'
parameters = { 
 'token': config.token,
 'id_dataset':'5e6ac97595162921fda18076',
 'date_filter':{
               "start_date":"2020-01-01T06:00:00.000Z",
               "end_date":"2020-03-11T06:00:00.000Z"} ,
 
}

df_confirmed = pd.read_json(json.dumps(OpenBlender.call(action, parameters)['sample']), convert_dates=False, convert_axes=False).sort_values('timestamp', ascending=False)
df_confirmed.reset_index(drop=True, inplace=True)
df_confirmed.head(10)

Task ID: '5e6d552f0895fafb4a9d8d4b'.
Total estimated consumption: 33672.88 processing units.
Task confirmed. Starting download..
6.25 %
12.5 %
18.75 %
25.0 %
31.25 %
37.5 %
43.75 %
50.0 %
56.25 %
62.5 %
68.75 %
75.0 %
81.25 %
87.5 %
93.75 %
100.0 % completed.

,confirmed,deaths,timestamp,provincestate,longitude,latitude,recovered,countryregion
0,120,3,1583884382,Hong Kong,114.2,22.3,65,Hong Kong SAR
1,491,3,1583884382,,8.2275,46.8182,3,Switzerland
2,1695,35,1583884382,,-4,40,32,Spain
3,576,6,1583884382,Chongqing,107.874,30.0572,547,Mainland China
4,133,0,1583884382,Shanxi,112.292,37.5777,131,Mainland China
5,400,0,1583884382,,8.4689,60.472,1,Norway
6,355,0,1583884382,,16,63,1,Sweden
7,382,6,1583884382,,-3,55,18,UK
8,92,0,1583878391,Massachusetts,-71.5301,42.2302,1,US
9,267,23,1583878391,Washington,-121.49,47.4009,1,US

In [ ]:
parameters = { 
    'token':config.token,
    'id_user':'5e6d48049516297bd25ee02e',
    'id_dataset':'5e1ded6b9516290a010e03ea' 
}
        

df = pd.read_json(json.dumps(OpenBlender.call(action, parameters)['sample']), convert_dates=False, convert_axes=False).sort_values('timestamp', ascending=False)
df.reset_index(drop=True, inplace=True)
df.head()